:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

/* @media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
} */

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.hide {
  display: none;
}

.show {
  display: block;
}

html,
body {
  height: 100%;
}

.form-signin,
.alert.alert-danger {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 50px auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.show-user {
  max-width: 1000px; 
  margin: 200px auto
} 

.user-info {
  display: flex; 
  width: 1000px; 
  justify-content: space-between; 
  text-align: center; 
  margin: 0 auto
}

.user-info input {
  width: 450px;
}

.show-pass {
  position: absolute; 
  right: 0; 
  bottom: 0
}

.back-btn {
  width: 1000px; 
  margin-top: 20px
}

.card__create {
  max-width: 800px;
  border: 1px solid lightgray;
  margin: 100px auto;
  padding: 30px 100px;
}

.active {
  background-color: #007bff;
  color: #fff !important;
  border-radius: 5px;
}


/* 

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
} */